body {
    margin: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    background-size: cover;
    text-align: center;
    color: black;
    font-family: 'right_chalkregular', serif;
}

.title {
    margin: 0;
    color: azure;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.restart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    /* margin-top: 20px; */
    margin-bottom: 10px;
    font-size: 8vmin;
    font-weight: normal;
    color: azure;
}

#message {
    font-size: 3vmin;
    font-weight: normal;
    margin-bottom: 3vh;
}

section.board {
    display: grid;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap; */
    /* grid-template-rows: repeat(5, 18vmin);
    grid-template-columns: repeat(4, 18vmin);
    grid-gap: 0vmin; */
    /*background-color: black; */
}
section.board2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
section.board3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
section.board4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* .drop {
    font-size: 13vmin;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
} */

.square {
    font-size: 13vmin;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap; */
}

#score {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 20vw;
    font-size: 3vmin;
}

.arrowButton {
    max-width: 82px;
    max-height: 82px;
    /* display: grid */
    vertical-align: middle;
}

/* .drop {
    display: flex
    flex-shrink: 2
} */

#top-pad {
    padding: 25px 50px 75px 100px;
  }

#sq0 {
    /* max-height: 2px;
    max-width: 2px; */
    /* background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913); */

}

#sq1 {
    background-color: black;
    border-radius: 50%;
    border-top: 40px solid rgba(255, 254, 234, 0.913);
    border-right: 40px solid rgba(255, 255, 255, 0.913);
    border-bottom: 40px solid rgba(255, 255, 255, 0.913);
    border-left: 40px solid rgba(255, 254, 234, 0.913);
}

#sq2 {
    background-color: black;
    border-radius: 50%;
    border-top: 40px solid rgba(255, 254, 234, 0.913);
    border-right: 40px solid rgba(255, 255, 255, 0.913); 
    border-bottom: 40px solid rgba(255, 255, 255, 0.913);
    border-left: 40px solid rgba(255, 254, 234, 0.913);
}

#sq3 {
    background-color: black;
    border-radius: 50%;
    border-top: 40px solid rgba(255, 254, 234, 0.913);
    border-right: 40px solid rgba(255, 255, 255, 0.913); 
    border-bottom: 40px solid rgba(255, 255, 255, 0.913);
    border-left: 40px solid rgba(255, 254, 234, 0.913);
}

#sq4 {
    background-color: black;
    border-radius: 50%;
    border-top: 40px solid rgba(255, 254, 234, 0.913);
    border-right: 40px solid rgba(255, 255, 255, 0.913);
    border-bottom: 40px solid rgba(255, 255, 255, 0.913);
    border-left: 40px solid rgba(255, 254, 234, 0.913);
}

#sq5 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq6 {
    
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq7 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq8 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq9 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq10 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq11 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq12 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq13 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq14 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq15 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq16 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq17 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq18 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

#sq19 {
    background-color: black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 254, 234, 0.913);
    border-right: 4px solid rgba(255, 255, 255, 0.913);
    border-bottom: 4px solid rgba(255, 255, 255, 0.913);
    border-left: 4px solid rgba(255, 254, 234, 0.913);
}

button {
    background-color: rgba(79, 79, 79, 0);
    color: rgba(255, 254, 234, 0.913);
    font-family: 'right_chalkregular', serif;
    font-size: 3vmin;
    font-weight: normal;
    outline: none;
    border: 2px solid rgba(255, 254, 234, 0.913);
    border-radius: 1vmin;
}

button:hover {
    background-color: rgba(255, 254, 234, 0.913);
    color: rgba(79, 79, 79);
    cursor: pointer;
}